In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
df = pd.read_csv("penguins.csv")

In [2]:
df

     culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g     sex
0                39.1             18.7              181.0       3750.0    MALE
1                39.5             17.4              186.0       3800.0  FEMALE
2                40.3             18.0              195.0       3250.0  FEMALE
3                 NaN              NaN                NaN          NaN     NaN
4                36.7             19.3              193.0       3450.0  FEMALE
..                ...              ...                ...          ...     ...
339               NaN              NaN                NaN          NaN     NaN
340              46.8             14.3              215.0       4850.0  FEMALE
341              50.4             15.7              222.0       5750.0    MALE
342              45.2             14.8              212.0       5200.0  FEMALE
343              49.9             16.1              213.0       5400.0    MALE

[344 rows x 5 columns]

In [3]:
df = df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 335 entries, 0 to 343
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   culmen_length_mm   335 non-null    float64
 1   culmen_depth_mm    335 non-null    float64
 2   flipper_length_mm  335 non-null    float64
 3   body_mass_g        335 non-null    float64
 4   sex                335 non-null    object
dtypes: float64(4), object(1)
memory usage: 15.7+ KB

In [7]:
df = df.dropna()

from sklearn.model_selection import train_test_split
train_df, _ = train_test_split(df, test_size=0.3, random_state=42)
train_df = train_df[["clumen_length_mm", "culmen_depth_mm"]]
train_df.head()

from sklearn.cluster import KMeans
model = KMeans(n_clusters=3)
model.fit(train_df)

model.cluster_centers_

KeyError: "['clumen_length_mm'] not in index"