In [5]:
def calculate_expected_value(outcomes, probabilities):
    """
    Calculate the expected value.

    Parameters:
    - outcomes (list): A list of numerical outcomes.
    - probabilities (list): A list of probabilities corresponding to the outcomes.

    Returns:
    - float: The expected value.
    """
    # Ensure the lists have the same length
    if len(outcomes) != len(probabilities):
        raise ValueError("The lengths of outcomes and probabilities must be the same.")
    
    # Ensure probabilities sum to 1
    if not abs(sum(probabilities) - 1) < 1e-6:  # Allow for slight floating-point errors
        raise ValueError("Probabilities must sum to 1.")
    
    # Calculate the expected value
    expected_value = sum(outcome * probability for outcome, probability in zip(outcomes, probabilities))
    
    return expected_value

# Example usage
outcomes = [102491, 66919,]
probabilities = [0.92, 0.08,]

In [7]:
outcomes1 = [58073, 37917,]
probabilities1 = [0.76, 0.24,]

In [6]:
expected_value = calculate_expected_value(outcomes, probabilities)
print(f"Expected Value: {expected_value}")

Expected Value: 99645.24

# Average dropout salary from Columbia is 66,919 dollars
# Average dropout salary from NYU is 37,917 dollars

In [9]:
expected_value2 = calculate_expected_value(outcomes1, probabilities1)
print(f"Expected Value: {expected_value2}")

Expected Value: 53235.560000000005

### The expected value of Columbia total us 99,645.24 dollars
### The expected value of NYU is 53235.56 dollars

In [10]:
23497*4

93988

In [11]:
18358*4

73432

In [12]:
99645.24-93988

5657.240000000005

In [13]:
53235.56-73432

-20196.440000000002

In [14]:
99645.24-53235.56

46409.68000000001