# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [1]:
import pandas as pd
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
df = pd.read_csv("contestants_level4.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  500 non-null    int64
 1   Name        500 non-null    object
 2   Age         500 non-null    float64
 3   Hometown    500 non-null    object
 4   ElimWeek    500 non-null    float64
 5   Season      500 non-null    int64
 6   Region      500 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 27.5+ KB

In [2]:
df = df.drop(["Unnamed: 0"], axis=1)

In [3]:
df["Season"].unique()

array([ 1,  2,  5,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,  4,
        6,  7], dtype=int64)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      500 non-null    object
 1   Age       500 non-null    float64
 2   Hometown  500 non-null    object
 3   ElimWeek  500 non-null    float64
 4   Season    500 non-null    int64
 5   Region    500 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 23.6+ KB

In [5]:
df['ElimWeek'].fillna(value=0, inplace=True)

In [6]:
df['Age'].fillna(value=0, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      500 non-null    object
 1   Age       500 non-null    float64
 2   Hometown  500 non-null    object
 3   ElimWeek  500 non-null    float64
 4   Season    500 non-null    int64
 5   Region    500 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 23.6+ KB

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [8]:
X = df[["Age"]]
y = df["ElimWeek"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [10]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [11]:
slope = model.coef_[0]
intercept = model.intercept_
print(slope, intercept) # y = -0.09x + 5.5, where x is age and y is elim week

-0.0681035723150103 5.185188451008194

In [12]:
X_test.head()

      Age
361  25.0
73   26.0
374  25.0
155  26.0
104  25.0

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [13]:
predictions = model.predict(X_test)
predictions = [int(x) for x in predictions]

In [14]:
y_test = list(y_test)

In [15]:
type(y_test)

list

In [16]:
count = 0
for i in range(len(predictions)):
    if predictions[i] == y_test[i]:
        count = count + 1
    
print(count/len(predictions))

0.09333333333333334

In [17]:
math.sqrt(mean_squared_error(y_test, predictions))

2.839013913315678

## First Revision: Included Region data and add seasons 4, 6 and 7.

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.