In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("estonia.csv")

In [4]:
df.head()

   PassengerId  Country        Firstname  Lastname Sex  Age Category  Survived
0            1   Sweden      ARVID KALLE     AADLI   M   62        P         0
1            2  Estonia              LEA   AALISTE   F   22        C         0
2            3  Estonia             AIRI   AAVASTE   F   21        C         0
3            4   Sweden             JURI     AAVIK   M   53        C         0
4            5   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0

In [5]:
frequency_table = df['Age'].value_counts()

In [6]:
frequency_table

21    27
45    27
30    25
67    25
50    24
      ..
9      1
15     1
0      1
2      1
87     1
Name: Age, Length: 78, dtype: int64

In [12]:
age_bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
age_labels = ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91-100']

df['Age_Group'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels, right=False)

absolute_freq = df['Age_Group'].value_counts()
relative_freq = df['Age_Group'].value_counts(normalize=True) *100

freq_table = pd.DataFrame({
    'Absolute Frequency': absolute_freq,
    'Relative Frequency': relative_freq
}).sort_index()

print(freq_table)

        Absolute Frequency  Relative Frequency
0-10                     7            0.707786
11-20                   48            4.853387
21-30                  175           17.694641
31-40                  173           17.492417
41-50                  197           19.919110
51-60                  154           15.571284
61-70                  149           15.065723
71-80                   80            8.088979
81-90                    6            0.606673
91-100                   0            0.000000